# Ignore everything!
# - *
# de-ignores: add here what you want to be committed
# !*.*js*
# !*.ts*

# !**/src
# !**/src/**

# re-ignores: add here what you want to be ignored again
*.md
*.txt
*.yml
*.env*
node_modules
/.pnp
.pnp.js
.next